################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Part C/C971 Grant Putnam/.vs/C971 Grant Putnam
