################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Part C/C971 Grant Putnam/obj/
/Part C/C971 Grant Putnam/bin/
/Part C/C971 Grant Putnam/.vs/C971 Grant Putnam
/Part C/C971 Grant Putnam/.vs/ProjectEvaluation
